/**********/
/* GENERAL */
/**********/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA !important;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: black;
}



/**********/
/* NAVBAR */
/**********/
#navbar {
    border-bottom: 1px solid lightgray;
    margin-bottom: 50px;
}

nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 65px;
    background-color: #FAFAFA !important;
    width: 65%;
    margin: auto;
}

nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .logo .img-logo {
    padding-right: 15px;
}

nav .logo hr {
    border: none;
    border-left: 1px solid black;
    height: 30px;
    width: 2px;
    padding-right: 12px;
}

nav .logo .text-logo {
    padding-left: 0px;
}

nav .logo p {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

nav .search-bar input {
    padding: 6px 20px;
    text-align: center;
    font-size: 13px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

nav .log-btns a {
    padding: 0px 15px;
}




/****************/
/* MAIN CONTENT */
/****************/
section {
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: row;
}

#photo-section {
    margin-right: 20px;
}

#feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 600px;
    height: 730px;
    margin-left: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

#feed img {
    margin: 10px 0px;
    width: 240px;
}

#photo_frame {
    border: 1px solid black;
    width: 640px;
    height: 680px;
    margin-bottom: 30px;
}

#sticker_frame {
    margin-bottom: 30px;
    border: 1px solid black;
    width: 640px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}



/**********/
/* FOOTER */
/**********/
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}



/***********/
/* SIGN UP */
/***********/
.log-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 400px;
    padding: 25px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    background-color: #FFF;
    margin: 0px 10px;
    margin-top: 60px;
}

.log-page > h1 {
    margin: 20px 0px;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
}

.log-page > h3 {
    margin: 20px 0px;
    text-align: center;
    color: #999999;
}

.subscription-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscription-form input, textarea {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #efefef;
    border-radius: 4px;
    background-color: #FAFAFA;
    font-weight: 400;
    font-size: 12px;
}

.subscription-form input[type=submit]{
    background-color: #3897f0;
    color: #fff;
    border: 1px solid #FAFAFA;
    border-radius: 4px;
}

.subscription-form input[type=submit]:hover{
    background-color: lightsalmon;
    border: 1px solid #FAFAFA;
}



/************/
/* ACTIVATE */
/************/
section .activate-frame {
    margin-left: auto;
    margin-right: auto;
}

.activate-frame {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 350px;
    padding: 25px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    background-color: #FFF;
    margin: 0px 10px;
    margin-top: 60px;
}

.activate-frame .connection-btn {
    background-color: #3897f0;
    color: #fff;
    border: 1px solid #FAFAFA;
    border-radius: 4px;
    padding: 8px;
}

.activate-frame .connection-btn a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

/***********/
/* PROFILE */
/***********/
.profile-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-picture {
    width: 16%;
    margin: 0 30px 0px 30px;
}

.profile-picture img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid gray;
}

.profile-infos {
    width: 84%;
}

.profile-infos .main {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.profile-infos .main p {
    margin: 0px;
    margin-right: 30px;
    font-size: 24px;
}

.profile-infos .main a {
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 4px;
}

.profile-stats {
    display: flex;
    flex-direction: row;
}

.profile-bio {
    display: flex;
    flex-direction: column;
}

.profile-bio .profile-name {
    font-weight: 700;
}


/******************/
/* MODIFY ACCOUNT */
/******************/
.modify-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding: 25px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    background-color: #FFF;
    margin: 0px 10px;
    margin-top: 10px;
}

.password-form {
    margin-top: 50px;
}

.modify-form > h3 {
    margin: 20px 0px;
    font-size: 25px;
    text-align: center;
    color: #999999;
}

.modify-form table {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.modify-form form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.modify-form form td p {
    text-align: right;
    margin-right: 30px;
    font-weight: 500;
}

.modify-account {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modify-form input, textarea {
    width: 300px;
}



/**********/
/* CAMERA */
/**********/
.image-area {
    position: relative;
}

.remove-image {
    display: none;
    position: absolute;
    top: 0px;
    right: -11px;
    border-radius: 10em;
    padding: 2px 5px 3px;
    text-decoration: none;
    font: 100 14px/14px sans-serif;
    background: #7b7b7b;
    border: 3px solid #fff;
    color: #FFF;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}
.remove-image:hover {
    background: #E54E4E;
    padding: 3px 6px 4px;
    top: -1px;
    right: -12px;
}
.remove-image:active {
    background: #E54E4E;
    top: 0px;
    right: -12px;
}

.stickers-area a img {
    width: 100px;
}

.overview {
    margin-bottom: 150px;
    margin-top: 310px;
}